<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key,value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <%end%>
    	<% unless (yield(:title).empty?) %>
        <%if ((yield(:show_h1?).empty?) || (yield(:show_h1?) == "true")) %>
				  <h1><%= yield(:title) %></h1>
        <%end%>
			<%end%>
      <%= yield %>
      <%= render('/layouts/footer') %>
      <%= debug(params) if Rails.env.development? %>
      <footer>Request properties
        <div>body: <%= request.body.string %></div>
        <div>flash: <%= request.flash.to_a %></div>
        <div>full_path: <%= request.fullpath %></div>
        <div>local?: <%= request.local? %></div>
        <div>method: <%= request.method %></div>
        <div>referer: <%= request.referer %></div>
        <div>format: <%= request.format %></div>
      <footer>
    </div>
</body>
</html>
